.img-resize {
  width: 10em;
}

.style {
  font-size: 20px;
}

.jumbo-style {
  background-image: linear-gradient(
    -225deg,
    #585858 0%,
    #2d2d2e 48%,
    #070707 100%
  );
}

.body-title-style {
  font-size: 25px;
  font-weight: 800;
}
